[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "FSK2R"]
	path = FSK2R
	url = https://github.com/cran/FSK2R
[submodule "bioOED"]
	path = bioOED
	url = https://github.com/albgarre/biooed
[submodule "biogrowth"]
	path = biogrowth
	url = https://github.com/albgarre/biogrowth
[submodule "bioinactivation"]
	path = bioinactivation
	url = https://github.com/albgarre/bioinactivation
